* {
    background-color: rgb(243, 207, 129);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-align: center; */
    color: purple;
    box-sizing: border-box;
}

h1,
h3 {
    color: green;
    background-color: rgb(228, 142, 81);
    text-align: center;
}

.h1-index {
    display: block;
    margin: 30px 200px;
    border: 2px solid blue;
}

h3 {
    color: rgb(187, 255, 0);
}

div {
    font-style: italic;
    font-weight: 600;
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px;
    border: 5px double lightcoral;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);    /* shadow around "box" */
    text-align: center;
}

.div-index, 
.ul-index,
.li-index {
    background-color: rgb(235, 222, 149);
} 

.images {
    height: auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
    list-style-position: inside;
    list-style: none;
}

button {
    background-color: orange;
    padding: 10px; 
}

.button-index:hover {
    background-color: rgb(255, 136, 0);
    color: white;
    font-weight: bold;
}

.li-index {
    display: inline-block;
    padding: 5px;
    margin: 20px;
}
